@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
p,h1,h2,h3,h4.h5.h6{
    font-family: 'Roboto', sans-serif;
}
main section .primeiro-titulo{
    padding-top: 70px;
    padding-bottom: 3%;
}
h3{
    font-weight: bold;
}
/*index*/
#slides{
    padding-top: 55px;
}
.secoes-pag{
    padding: 5% 0;
}
.titulo-noticia{
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 3% 0;
}
.texto-noticia{
    text-align: justify;
    padding: 2% 0;
}
/*sobre*/
#nossa-historia p, #criadores p{
    padding: 3% 0;
    text-align: justify;
}
#criadores img{
    padding: 3% 0;
}
.pos{
    margin-left: 35%;
}
/*noticias*/
#mundo-gamer{
    padding-top: 80px;
}
#mundo-serie{
    padding: 5% 0;
}
#destaques{
    padding-bottom: 5%;
}
footer{
    background-color: #eee;
    padding: 3%;
}
footer .form-group{
    padding: 1% 0;
}
footer textarea{
    width: 100%;
    height: 200px !important;
}
.posEnviar{
    margin-left: 45%;
}
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }